@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://cftestatalaricayparinacota.cl/wp-content/uploads/2022/01/logo_fix.jpg" alt="W3Schools.com" style="width:650px;height:350px;">
    <h1  style="color:maroon" class="display-3">Bienvenido!!</h1>
    <br>
    <a class="btn btn-primary" href="https://localhost:7267/Estudiantes">Estudiante</a>
    <br>
    <br>
    <a class=" btn btn-danger" href="https://localhost:7267/Asignaturas">Asignatura</a>
    <br>
    <br>
    <a  class="btn btn-success" href="https://localhost:7267/Asignacionasignaturas">AsignacionAsignatura</a>
    <br>
    <br>
    <a class="btn btn-warning" href="https://localhost:7267/Notas">Nota</a>
    <br>
    <br>
   <h1 style="color:darkblue" class="display-6"> Informática Campo Laboral</h1>
    <p style="color:dimgray" class="alineado-centrado">
        <br />
        El campo laboral de Técnico del Nivel Superiror en Informática y Aplicaciones Tecnológicas,
        <br />
        esta constituido por empresas en cualquier industria, tanto privadas como plublicas,
        <br />
        productivas o de servicios de mediano o gran tamaño, que poseen equipamientos computacionales,
        <br />
        centro de cómputo de datos, redes de datos, area de desarrollo tecnológico, permitiendo el 
        <br />
        desempeño en funciones de desarrollo, soporte, operacion y administración.

        <style>
          .alineado-centrado {
          text-align: center;
           }
        </style>
    </p>

</div>
